<section class="splash">
  <div class="title">
    <span>PennyWise</span>
    <%= image_tag('logo.png') %>
  </div>
  <div class="devise">
    <%= link_to 'log in', new_user_session_path, class: "btn-login" %>
    <%= link_to 'sign up', new_user_registration_path, class: "btn-register" %>
  </div>
</section>
