/*
  *= require splash
  *= require devise
  *= require category
  *= require expense
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova Condensed', sans-serif;
}

:root {
  --main: #3778c2;
  --second: #5fb523;
  --text: #434b54;
}
