<header>
  <nav>
    <h3>PennyWise</h3>
    <p>categories</p>
    <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
  </nav>
</header>

<section class="main-page">
  <div>
    <div>categories list</div>
    <div>button</div>
  </div>
</section>